

html,
body{
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
}

#flex-container{
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
  /* align-items: stretch; */
}

.one{
  width: 100%;
  height: 100%;
  background-color: #ee2e24;
  display: none;
  justify-content: center;
  align-items: center;
}

.two{
  width: 100%;
  height: 100%;
  background-color: #70945a;
  display: none;
  justify-content: center;
  align-items: center;
}

.three{
  width: 100%;
  height: 100%;
  background-color: #cee5ee;
  display: none;
  justify-content: center;
  align-items: center;
}

.four{
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #e1e1e0;
  display: none;
  justify-content: center;

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .one {
    display: block;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  body {
    font-size: 20px;
  }
  .two {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 30px;
  }
  .three {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 50px;
  }
  .four {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 80px;
  }
}

/* @media only screen and (max-width: 600px){
  .one {
    width: 100%;
  }
  .two {
    width: 100%;
  }
  .three {
    width: 100%;
  }
  .four {
    width: 100%;
  }
} */
